// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$nequi:   #ff2f73 !default;
$nequi-dark: #210049 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
$black:   #000000 !default;
$white:   #ffffff !default;
$gray-500: #adb5bd !default;
$gray:      $gray-500 !default;
$gray-800: #343a40 !default;
$success:   $gray-800 !default;
// scss-docs-end color-variables

// Custom colors
$daviplata: rgb(237, 28, 3);
$primary: #343a40;
$secondary: rgb(130, 130, 130);
// Custom colors

// scss-docs-start colors-map
$colors: (
  "daviplata":  $daviplata,
  "nequi":      $nequi,
  "nequi-dark": $nequi-dark,
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-500,
  "gray-dark":  $gray-800,
  "success":    $success
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "daviplata":  $daviplata,
  "nequi":      $nequi,
  "nequi-dark": $nequi-dark,
);
.back-nequi{
  background: url(../assets/images/back-nequi.png);
}

#countdownPercent{
  transition:all 0.3s ease-in-out;
}
.modal{
  backdrop-filter: blur(5px);
}
.combo-fields{
  margin-bottom: 2rem;
  .form-floating:first-child{
    .form-select{
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-width: 3px;
    }
  }
  .form-floating:last-child{
    .form-control{
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-width: 3px;
      border-top: 0;
    }
  }
}
@import "../node_modules/bootstrap/scss/bootstrap";